body { font-family: Arial, Helvetica, sans-serif;}
ul {list-style-type: none;}
#canvas {
	margin: 0 auto 0 auto;
}
#main {
	top: 0em;
	margin: 0 auto 0 auto;
}
#main ul {
	width: 100%;
	float: left;
}

#main #li_left {
	width: 62%;
	float: left;
}

#main #li_right {
	width: 38%;
	float: right;
}
#progress {
	top: 0em;
}
#progress div {
    background-color: #ff0000;
    width: 0;
    height: 5px;
}
